1405.4604.pdf filter=lfs diff=lfs merge=lfs -text
1712.06560.pdf filter=lfs diff=lfs merge=lfs -text
22OOD.pdf filter=lfs diff=lfs merge=lfs -text
Font2013A.pdf filter=lfs diff=lfs merge=lfs -text
Font2013Towards.pdf filter=lfs diff=lfs merge=lfs -text
Kristjan-Tryggvason-MSc.pdf filter=lfs diff=lfs merge=lfs -text
Website-Playing[[:space:]]Cards.pdf filter=lfs diff=lfs merge=lfs -text
sudana-2016-ijca-910841.pdf filter=lfs diff=lfs merge=lfs -text
00502.pdf filter=lfs diff=lfs merge=lfs -text
1302.1143.pdf filter=lfs diff=lfs merge=lfs -text
1803.03453.pdf filter=lfs diff=lfs merge=lfs -text
Cryptogogue-Volition-CCG-White-Paper.pdf filter=lfs diff=lfs merge=lfs -text
Kuosa_Samuli.pdf filter=lfs diff=lfs merge=lfs -text
hearts.pdf filter=lfs diff=lfs merge=lfs -text
m.law.pdf filter=lfs diff=lfs merge=lfs -text
proposal.pdf filter=lfs diff=lfs merge=lfs -text
1712.06564.pdf filter=lfs diff=lfs merge=lfs -text
1712.06568.pdf filter=lfs diff=lfs merge=lfs -text
Kowalski2016GeneralGame.pdf filter=lfs diff=lfs merge=lfs -text
Original_Card_Games_by_David_Parlett.pdf filter=lfs diff=lfs merge=lfs -text
lecture6.pdf filter=lfs diff=lfs merge=lfs -text
smith1998computer.pdf filter=lfs diff=lfs merge=lfs -text
teunisse.pdf filter=lfs diff=lfs merge=lfs -text
1712.06563.pdf filter=lfs diff=lfs merge=lfs -text
Ivan[[:space:]]Leung,[[:space:]]Pedro[[:space:]]Milani,[[:space:]]Ben-han[[:space:]]Sung,[[:space:]]SkatBot.pdf filter=lfs diff=lfs merge=lfs -text
SR[[:space:]]EN[[:space:]]4.pdf filter=lfs diff=lfs merge=lfs -text
Hyrkas_Jarno.pdf filter=lfs diff=lfs merge=lfs -text
Pages_Parlett.pdf filter=lfs diff=lfs merge=lfs -text
card_game_ideas.pdf filter=lfs diff=lfs merge=lfs -text
parent-guide-flow-chart.pdf filter=lfs diff=lfs merge=lfs -text
playing_cards_eng.pdf filter=lfs diff=lfs merge=lfs -text
10.1.1.123.654.pdf filter=lfs diff=lfs merge=lfs -text
BA-2014-11.pdf filter=lfs diff=lfs merge=lfs -text
CGCloud2013[[:space:]]-[[:space:]]Herzig.pdf filter=lfs diff=lfs merge=lfs -text
b8a4130c443152e62d551cf658afd550d828.pdf filter=lfs diff=lfs merge=lfs -text
cwcg_3rde_rules.pdf filter=lfs diff=lfs merge=lfs -text
hakulinen-poster-card-games.pdf filter=lfs diff=lfs merge=lfs -text
Decision_making_algorithms_for_board_or_card_games2.pdf filter=lfs diff=lfs merge=lfs -text
Math[[:space:]]Card[[:space:]]Games[[:space:]]for[[:space:]]k-6.pdf filter=lfs diff=lfs merge=lfs -text
jaffe2012ecg.pdf filter=lfs diff=lfs merge=lfs -text
1712.06567.pdf filter=lfs diff=lfs merge=lfs -text
April-2017-Rule-Book-small.pdf filter=lfs diff=lfs merge=lfs -text
BA-Obenaus.pdf filter=lfs diff=lfs merge=lfs -text
book[[:space:]]of[[:space:]]card[[:space:]]games.pdf filter=lfs diff=lfs merge=lfs -text
comparison_algorithms.pdf filter=lfs diff=lfs merge=lfs -text
icec10.pdf filter=lfs diff=lfs merge=lfs -text
